<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.phora.androptpb" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="io.github.phora.androptpb.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.github.phora.androptpb.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="io.github.phora.androptpb.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.phora.androptpb.activities.MainActivity" />
        </activity>
        <activity
            android:name="io.github.phora.androptpb.activities.ServersFragment"
            android:label="@string/title_activity_server_settings"
            android:parentActivityName="io.github.phora.androptpb.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.phora.androptpb.activities.MainActivity" />
        </activity>
        <activity
            android:name="io.github.phora.androptpb.activities.UploadOptionsActivity"
            android:label="@string/title_activity_upload_options" >
        </activity>
    </application>

</manifest>
